* {
    margin: 0;
    padding: 0;
    font-family: arial;
}

body {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgb(22, 22, 22), transparent),
                linear-gradient(to top, rgba(55, 0, 255, 0.582), transparent),
                linear-gradient(to right bottom, rgb(40, 0, 114), transparent 20%),
                black;
    background-size: cover;
    background-attachment: fixed;
}



/*---------------------------*/
/*----- Header Settings -----*/
/*---------------------------*/

.logo {
    width: 100%;
    height: 17em;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 2em;
    margin-top: 2em;
    background: url(../img/logo-background.png);
    background-size: 17em auto;
    background-repeat: no-repeat;
    background-position: center;
}

.logo img {
    height: 15em;
    width: auto;
}

.main-info {
    width: 60%;
    height: 3vh;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

.phone {
    width: 50%;
    height: 100%;
}

.phone span {
    margin-left: 1em;
}

.color-slider {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    color: white;
    background: linear-gradient(to right, black, rgb(60, 0, 128), black);
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 20px;
    background-position: left bottom;
    background-size: 200% 100%;
    transition: ease-in-out 1s;
}

.color-slider:hover {
    background-position: right bottom;
    transition: all 2s ease;
}

.social-media {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.social-media ul {
    display: flex;
    width: 30%;
}

.social-media ul li {
    list-style: none;
    display: inline;
    margin-left: auto;
    align-self: center;
}

.social-media ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.6em;
    height: 1.6em; 
    transition: ease-in-out 200ms;
}

/*.social-media ul li a:hover {
    background: rgb(233, 233, 233);
    border-radius: 50px;
    transition: ease-in-out 200ms;
}*/

.social-media ul li #facebook:hover {
    color:#3b5998;
}

.social-media ul li #instagram:hover {
    color:#e95950;
}

.social-media ul li #youtube:hover {
    color:#ff0000;
}

.social-media ul li #twitter:hover {
    color:#55acee;
}

.main-nav {
    width: 60%;
    height: 5vh;
    background: rgba(10, 10, 10, 0.425);
    margin: auto;
    display: flex;
    flex-direction: column;
}

.main-nav ul {
    justify-content: center;
    display: flex;
    flex-direction: space-between;
    height: 100%;
    
}

.main-nav ul li {
    list-style: none;
    height: 100%;
    width: auto;
    align-self: center;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    transition: ease-in-out 200ms;
}

.main-nav ul li:hover {
    background: rgb(10, 10, 10);
    transition: ease-in-out 200ms;
}

.main-nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    align-self: center;
}

.main-nav ul li a:hover {
    color: rgb(216, 216, 216);
}

.sub-icon {
    margin-left: 0.5em;
}

.main-nav.sub {
    width: 60%;
    height: 5vh;
    background: rgba(0, 0, 0, 0.582);
    margin: auto;
    display: flex;
    flex-direction: column;
    display: none;
}

.main-nav.sub ul li:hover {
    background: rgba(33, 1, 92, 0.527);
    transition: ease-in-out 200ms;
}



/*---------------------------*/
/*----- Banner Settings -----*/
/*---------------------------*/

.banner {
    height: 50vh;
    width: 60%;
    /*border: 0.15em solid rgb(0, 0, 0);*/
    margin: auto;
    margin-top: 2em;
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

.slider {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.slide.one {
    height: 50vh;
    width: 100%;
    background: url(https://images.unsplash.com/photo-1488935641421-b1eb2e0e03e4?ixlib=rb-0.3.5&s=67c2818880a6a5856d91b3c5e66dc0e1&auto=format&fit=crop&w=1349&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.slide.two {
    height: 50vh;
    width: 100%;
    background: url(https://images.unsplash.com/photo-1495639867387-5423d6811583?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8cf6335dfe08a50fa199c96e84181b4e&auto=format&fit=crop&w=1350&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
}

.slide.three {
    height: 50vh;
    width: 100%;
    background: url(https://images.unsplash.com/photo-1484820986637-7ec3e85b394f?ixlib=rb-0.3.5&s=f04cb89e76167639a5acf341e2406a2c&auto=format&fit=crop&w=1360&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
}

.slider-arrows {
    height: 3em;
    width: 7em;
    align-self: center;
    display: flex;
    flex-direction: row; 
}

.slider-arrow {
    height: 100%;
    width: 3.5em;
    display: flex;
    justify-content: center;
}

.arrow {
    color: white;
    font-size: 5em;
    align-self: center;
    cursor: pointer;
}



/*------------------------------*/
/*----- Section 1 Settings -----*/
/*------------------------------*/

.wrapper {
    width: 60%;
    height: auto;
    margin: auto;
    margin-top: 2em;
    background: rgba(0, 0, 0, 0.753);
    display: flex;
    justify-content: center;
}

.border-white {
    height: 96%;
    width: 98%;
    border: 1px solid rgba(255, 255, 255, 0.651);
    align-self: center;
    display: flex;
    justify-content: center;
}

.border-purple {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    height: 96%;
    width: 98%;
    border-top: 1px solid rgba(77, 0, 128, 0.726);
    border-bottom: 1px solid rgba(77, 0, 128, 0.726);
    align-self: center;
    display: flex;
    justify-content: center;
}

.column {
    height: 90%;
    width: 40%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid white;
}

#announcement {
    color: white;
    text-transform: uppercase;
    margin-bottom: 1.4em;
}

.spotify-player {
    width: 100%;
    display: flex;
    justify-content: center;
}

.column-news {
    width: 50%;
    height: 90%;
    margin-left: 2em;
    align-self: center;
    display: flex;
    flex-direction: column;
}

#news {
    color: white;
    text-transform: uppercase;
}

.column-news p {
    color: white;
    border-top: 1px solid white;
    text-align: justify;
    margin-top: 0.5em;
    padding-top: 0.5em;
    line-height: 1.3em;
}

.column-news p a {
    font-style: italic;
    color: white;
    text-decoration: none;
}

.column-news p a:hover {
    color: rgb(223, 223, 223);
}



/*------------------------------*/
/*----- Section 2 Settings -----*/
/*------------------------------*/

.wrapper.events {
    width: 60%;
    height: auto;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    background: linear-gradient(to top left, rgba(0, 0, 0, 0.753), transparent),
                linear-gradient(to bottom left, rgba(0, 0, 0, 0.753), transparent),
                url(../img/background.jpg), transparent 50%;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
}

.title-events h1 {
    color: white;
    align-self: center;
    font-size: 2em;
    margin-left: 1em;
    margin-right: 1em;
}

.title-events {
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: center;
}

.border-events {
    width: 30%;
    border-bottom: 1px solid white;
    height: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.events-table {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.title-table {
    margin-top: 2em;
    line-height: 1.5em;
    font-size: 1em;
    color: white;
    cursor: pointer;
}

.table-data {
    margin-top: 1em;
    width: 100%;
    display: none;
}

table {
    text-align: left;
    color: white;
    width: 95%;
}

table tr {
    width: 100%;
    height: 1em;
}

table th {
    width: 25%;
    height: 1em;
}

table td {
    padding-top: 0.3em;
}



/*------------------------------*/
/*----- Section 2 Settings -----*/
/*------------------------------*/

.wrapper.artists {
    width: 60%;
    height: auto;
    margin: auto;
    margin-top: 2em;
    background: rgba(0, 0, 0, 0.753);
    display: flex;
    justify-content: center;
}

.border-purple2 {
    height: 96%;
    width: 98%;
    margin-top: 1em;
    margin-bottom: 1em;
    border-top: 1px solid rgba(77, 0, 128, 0.726);
    border-bottom: 1px solid rgba(77, 0, 128, 0.726);
    align-self: center;
    display: flex;
    flex-direction: column;
}

.row.title {
    margin-top: 2em;
}

.title h1 {
    font-size: 2em;
    color: white;
    text-align: center;
}

.container-artists {
    width: 90%;
    height: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.card-artist {
    width: 20%;
    height: auto;
    align-self: center;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.664);
    border-radius: 0.5em;
    padding: 1em;
}

.card-title {
    text-align: center;
    width: 100%;
    color: white;
}

.card-picture {
    width: 10em;
    height: 10em;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.card-picture.one {
    background: url(http://feelectronica.de/wp-content/uploads/2016/01/JonasMantey.jpg);
    background-size: cover;
    background-position: center;
}

.card-picture.two {
    background: url(https://media02.imgix.net/music/djs/f045cfd788f6c5688d6fa174d56c90e4.jpg);
    background-size: cover;
    background-position: center;
}

.card-picture.three {
    background: url(http://www.laut.de/Oliver-Schories/oliver-schories-131525.jpg);
    background-size: cover;
    background-position: center;
}

.card-picture.four {
    background: url(http://feelectronica.de/wp-content/uploads/2016/08/79360559.jpg);
    background-size: cover;
    background-position: center;
}

.card-description {
    width: 100%;
    height: 10em;
    margin-top: 1em;
    color: white;
    text-align: justify;
}

.card-links {
    color: white;
    text-align: center;
}

.card-links a {
    color: white;
    text-decoration: none;
}

.card-links a:hover {
    color: rgb(206, 206, 206);
    text-decoration: none;
}



/*---------------------------------*/
/*----- Contact Form Settings -----*/
/*---------------------------------*/

.wrapper.contact {
    width: 60%;
    height: auto;
    margin: auto;
    margin-top: 2em;
    background: rgba(0, 0, 0, 0.753);
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
}

.contact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    color: white;
    border-bottom: 1px solid rgba(77, 0, 128, 0.726);
}

.contact form h1 {
    text-align: center;;
    font-size: 2em;
    margin-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(77, 0, 128, 0.726);
}

.contact form button {
    width: 50%;
    align-self: center;
    margin-top: 2em;
    margin-bottom: 1em;
    height: 2em;
    border-radius: 0.2em;
    background: linear-gradient(to top, rgb(87, 0, 128), rgb(47, 0, 133), transparent)
                rgb(34, 0, 128);
    border: black;
    color: white;
    font-size: 1em;
}

.input-title {
    margin-top: 0.7em;
    margin-bottom: 0.2em;
    font-size: 1.2em;
}

.form-input {
    width: 100%;
    height: 2em;
    border-radius: 0.5em;
    align-self: center;
    background: rgb(216, 216, 216);
    border: black;
}

.form-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.artist-info {
    width: 30%;
}

.song-info {
    width: 100%;
}

#description {
    height: 10em;
}